/*
Project Name: Travel Site
Name: Anurag Bhattacharya
Description:
This is the Destinations Pages Style Sheet
Diving Deeper Notes:
- Did not have time to make responsive, but website looks good on standard desktop size and 1280px wide
*/

/*All Destination Information Section Styles*/

/*Destination Information Section Styles*/
.destinationInformation {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
}

/*Greece Destination Page Style*/
.destinationInformation.greece-background {
  background-image: url("../assets/images/greece.jpg");
}

/*Hawaii Destination Page Style*/
.destinationInformation.hawaii-background {
  background-image: url("../assets/images/hawaii.jpg");
}

/*Iceland Destination Page Style*/
.destinationInformation.iceland-background {
  background-image: url("../assets/images/iceland.jpg");
}

/*All Destination Schedule Styles*/

/*Destination Itinerary Section Styles*/
.destinationsCard.itinerary {
  background-color: #FFFFFF;
}

/*Destination Itinerary Section Content Styles*/
.destinationInformation__content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: 2.5rem;
}

/*Destination Itinerary Section Title Styles*/
.destinationInformation__title {
  color: #FFFFFF;
  font-size: 4rem;
}

/*Schedule Title Styles*/
.destinationsCard__title {
  margin-top: 0.5rem;
  border-bottom: 5px solid black;
  margin-bottom: 2rem;
}

/*Activity List Item Styles*/
.destinationsCard__activity li {
  list-style: none;
}

/*Activity Itinerary Content Wrapper Styles*/
.destinationsCard__activityItinerary {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/*Individual Activity Itinerary Styles*/
.destinationsCard__activity {
  background-color: #FEFAF5;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 75%;
}