* {
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
}

.topHeader {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.topHeader a {
  text-decoration: none;
}

.topHeader__headerTitle {
  color: #335576;
  padding: 10px;
  margin: 10px;
}

.mainNavigation {
  padding: 20px;
  margin-left: 550px;
}

.mainNavigation__navLink {
  margin-right: 10px;
}

.mainNavigation ul li {
  display: inline
}

.mainNavigation ul li a {
  text-decoration: none;
  padding-bottom: 5px;
  color: black;
}

.mainNavigation__navLink-active {
  border-bottom: #DB7A4E 3px solid;
}