* {
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
}

/*All Header Section Styles:*/

/*Header Wrapper Styles*/
.headerSection {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

/*Header Links Styles*/
.headerSection a {
  text-decoration: none;
}

/*Shared Header Title & Navigation Styles*/
.headerSection__title,
.headerNavigation {
  padding: 0.5rem;
  margin: 0.5rem;
}

/*Header Title Styles*/
.headerSection__title {
  color: #335576;
}

/*Header Navigation Styles*/
.headerNavigation {
  margin-left: 34rem;
}

/*Header Navigation List Items Styles*/
.headerNavigation__list li {
  display: inline;
}

/*Header Navigation Link Styles*/
.headerNavigation__link {
  margin: 0.5rem;
}

/*Header Navigation Link Active Styles*/
.headerNavigation__link-active,
.headerNavigation__link-hidden:hover {
  border-bottom: 3px solid #DB7A4E;
}

/*Header Navigation Link Other Links Styles*/
.headerNavigation__link-hidden {
  border-bottom: 3px hidden #DB7A4E;
}

/*Header Navigation Link Other Links Animation Styles*/
.headerNavigation__link-hidden:hover {
  border-bottom: 3px solid #DB7A4E;
}

/*Header Navigation Link Text Styles*/
.headerNavigation__link a {
  text-decoration: none;
  padding-bottom: 0.5rem;
  color: black;
}

/*All Destination Cards Styles*/

.destinationsCards {
  display: flex;
  text-align: center;
  justify-content: center;
}

/*Destination Card Styles*/
.destinationsCard {
  padding: 1.5rem;
  margin: 1.5rem;
  height: 300px;
  width: 200px;
  border-radius: 0.5px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/*All Footer Section Styles*/

/*Footer Section Styles*/
.footerSection {
  background-color: #FEFAF5;
}

/*Footer Section Content Styles*/
.footerSection__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

/*Shared Footer Section Card and Schedule Styles*/
.footerSection__card,
.destinationHours__schedule {
  margin-right: 2.5rem;
}

/*Shared Footer Section Title and Text Styles*/
.footerSection__title,
.footerSection__text {
  color: #335576;
  margin-bottom: 15px;
}

/*Footer Section Subtitle Styles*/
.footerSection__subtitle {
  color: #DB7A4E;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
}

/*Shared Destination Hours and Social Icons Section Styles*/
.destinationHours,
.socialIcons {
  display: flex;
}

/*Footer Section Destination Hours Styles*/
.destinationHours {
  text-align: start;
}

/*Footer Section Image Wrapper Styles*/
.socialIcons__image {
  margin-right: 1rem;
}

/*Footer Section Image Styles*/
.socialIcons__image img {
  height: 55%;
}