* {
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
}

.topHeader {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.topHeader a {
  text-decoration: none;
}

.topHeader__headerTitle {
  color: #335576;
  padding: 10px;
  margin: 10px;
}

.mainNavigation {
  padding: 20px;
  margin-left: 550px;
}

.mainNavigation__navLink {
  margin-right: 10px;
}

.mainNavigation ul li {
  display: inline
}

.mainNavigation ul li a {
  text-decoration: none;
  padding-bottom: 5px;
  color: black;
}

.mainNavigation__navLink-active {
  border-bottom: #DB7A4E 3px solid;
}

.footer-section {
  background-color: #FEFAF5;
}

.footer-section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer-section__card {
  margin-right: 20px;
}

.destinationHours {
  display: flex;
  text-align: start;
}

.destinationHours__daysAndTimes {
  margin-right: 20px;
}


.social-icons {
  display: flex;
}

.social-icons__image {
  margin-right: 15px;
}

.social-icons__image img {
  height: 40px;
}

.footer-section__title {
  color: #335576;
  margin-bottom: 15px;
}

.footer-section__subtitle {
  color: #DB7A4E;
  font-size: 10px;
  margin-bottom: 15px;
}