* {
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
}

.topHeader {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.top-header__headerTitle {
  color: #335576;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 4rem;
}

.main-navigation {
  margin-left: 60rem;
}

.main-navigation ul li {
  display: inline;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.main-navigation__navLink a {
  color: black;
  margin-right: 1rem;
  text-decoration: none;
  padding-bottom: 0.5rem;
}

.main-navigation__navLink-active {
  border-bottom: 0.3rem solid #DB7A4E;
}

.footer-section {
  width: 100%;
  height: 200px;
  background-color: #FEFAF5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section__card {
  padding-right: 3rem;
}

.contact-card {
  margin-left: 5rem;
}

.footer-section__title {
  color: #335576;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-section__subtitle {
  color: #DB7A4E;
  font-size: 0.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.footer-section__text {
  color: #335576;
}

.destinationHours {
  display: flex;
}

.destinationHours__daysAndTimes {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.social-icons a {
  text-decoration: none;
}

.social-icons {
  display: flex;
  margin-top: 1.5rem;
}

.social-icons__image {
  margin-right: 2rem;
}

.social-icons__image img {
  height: 20px;
}