* {
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
}

.topHeader {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topHeader__headerTitle {
  color: #335576;
  padding: 10px;
  margin: 10px;
}

.mainNavigation {
  padding: 10px;
  margin: 10px;
}

.mainNavigation__navLink {
  margin: 10px;
}

.mainNavigation ul li {
  display: inline
}

.mainNavigation ul li a {
  text-decoration: none;
  padding-bottom: 5px;
  color: black;
}

.mainNavigation__navLink-active {
  border-bottom: #DB7A4E 3px solid;
}