/*All Hero Section Styles:*/

/*Hero Section Styles*/
.heroSection {
  background-color: #FEFAF5;
}

/*Shared Hero Section Content & Slogan Section Styles*/
.heroSection__content,
.heroSection__slogan {
  display: flex;
}

/*Hero Section Content Styles*/
.heroSection__content {
  align-items: center;
  justify-content: space-between;
}

/*Shared Hero Section Slogan & Image Section Styles*/
.heroSection__slogan,
.heroSection__imageSection {
  padding: 20px;
  margin: 20px;
}

/*Hero Section Slogan Section Styles*/
.heroSection__slogan {
  flex-direction: column;
  align-items: flex-start;
}

/*Shared Hero Section Slogan Title & Description Styles*/
.heroSection__sloganTitle,
.heroSection__sloganDescription {
  color: #335576;
  margin-bottom: 20px;
}

/*Hero Section Slogan Title Styles*/
.heroSection__sloganTitle {
  width: 250px;
}

/*Hero Section Slogan Description Styles*/
.heroSection__sloganDescription {
  width: 650px;
}

/*Hero Section Button Styles*/
.heroSection__button {
  background-color: #DB7A4E;
  color: #FFFFFF;
  border-radius: 40px;
  width: 200px;
  height: 35px;
}

/*Hero Section Image Styles*/
.heroSection__image {
  height: 60%;
  width: 60%;
}

/*All Recommendations Section Styles*/

/*Recommendations Section Styles*/
.recommendationsSection {
  background-color: #FFFFFF;
}

/*Recommendations Section Content Styles*/
.recommendationsSection__content {
  padding: 20px;
  margin: 20px;
}

/*Recommendations Section Content Title Styles*/
.recommendationsSection__title {
  color: #335576;
  margin-bottom: 20px;
}

/*Shared Destination Styles*/
.destinationsCard.destinationsCard.hawaii-destination,
.destinationsCard.iceland-destination,
.destinationsCard.greece-destination {
  background-size: cover;
  background-repeat: no-repeat;
}

/*Destination Styles - Hawaii*/
.destinationsCard.hawaii-destination {
  background-image: url("../assets/images/hawaii.jpg");
}

/*Destination Styles - Iceland*/
.destinationsCard.iceland-destination {
  background-image: url("../assets/images/iceland.jpg");
}

/*Destination Styles - Greece*/
.destinationsCard.greece-destination {
  background-image: url("../assets/images/greece.jpg");
}

/*Destination Styles Text*/
.destinationsCard__text {
  position: absolute;
  color: #FFFFFF;
  font-size: 24px;
  bottom: 5%;
  right: 5%;
}