.hero-section {
  background-color: #FEFAF5;
  display: flex;
  align-items: center;
}

.hero-section__content {
  display: flex;
  align-items: center;
}

.hero-section__text {
  margin-left: 60px;
  margin-right: 100px;
}

.hero-section__title {
  width: 250px;
  color: #335576;
  text-align: left;
  margin-bottom: 20px;
}

.hero-section__description {
  color: #335576;
  width: 800px;
  margin-bottom: 20px;
}

.hero-section__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 175px;
  height: 5px;
  color: #FEFAF5;
  background-color: #DB7A4E;
  border-radius: 20px;
  border: none;
}

.hero-section__image {
  width: 250px;
  height: 250px;
}

.hero-section__imageSection {
  margin-top: 20px;
  margin-bottom: 20px;
}